<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    <div style="background-color: #628DB6;color: #F8F8F8;padding: 10px;">
        <h1><b>Redmine Ticket Copy Tool</b></h1>
    </div>

    <form method="POST"  action="{{  url_for('submit') }}">
        <div class="form-group col-md-4">
            <label for="ticket_list">Redmine Ticket List:</label><br />
            <textarea class="form-control rounded border" id="ticket_list" rows = "10" cols = "70" name="ticket_list"></textarea><br />
        </div>
        <div class="form-group col-md-4">
            <label for="model_list">Model:</label><br />
            <select class="form-control custom-select rounded border" id="model_list" name="model_list" size="20" multiple="multiple">
                {% for model in models %}
                    <option>{{ model }}</option>
                {% endfor %}
            </select><br />
        </div>
        <div class="form-group col-md-4">
            <label for="target_version">Target Version:</label><br />
            <select class="form-control custom-select rounded border" id="target_version" name="target_version" size="10">
            {% for version in versions %}
                <option>{{ version }}</option>
            {% endfor %}
            </select><br />
        </div>
        <input type="submit" class="btn btn-primary"  value="Submit">
    </form>
</body>
</html>