<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Redmine Ticket Copy Service</h1>
    <h3>Redmine Ticket List:</h3>
    <textarea rows = "10" cols = "75" name = "Redmine Ticket List">
    Input ticket ID here...
    </textarea>
    <h3>Model:</h3>
        <select id="model" size="20" multiple="multiple" width="200">
            {% for model in models %}
                <option>{{ model }}</option>
            {% endfor %}
        </select>
    <br>
    <h3>Target Version:</h3>
        <select id="target_version" size="10" multiple="multiple" width="200">
        {% for model in models %}
            <option>{{ model }}</option>
        {% endfor %}
        </select>
    <p></p>
    <input type="button" value="Copy" onClick="index.html">
</body>
</html>